{% extends 'pages/homepage.html' %}
{% load static %}

{% block title %}
	<title>Analise de Investimentos</title>
{% endblock %}

{% block style %}
	<style>
		
	</style>
{% endblock %}

{% block section %}
	<div class="investiments-analysis">
		<div class="left-section">
			<h3>Analise de Investimentos (Accoes)</h3>
			{% for div_ in titles %}
				<a href="{% url 'client:investiments_analysis' div_ %}" class="{{ div_ }} accoes-div">
					<span class="span-text action-name">{{ div_ }}</span>
					<img class="action-logo" src="{% static "cdm.jpg" %}">
				</a>
			{% endfor %}
		</div>
		<div class="right-section">
			<h3 class="acction-title">Incadores de Performance ({{ page }})</h3>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script>
		$(document).ready(function() {
			$('.accoes-div').click(function(){
				console.log('Hello')
				$('.accoes-div').addClass('highlight');
			});
		});
	</script>
{% endblock %}