{% extends 'pages/homepage.html' %}
{% load replace_ %}
{% load static %}

{% block title %}
	<title>Analise de Investimentos - {{ page }}</title>
{% endblock %}

{% block style %}
	<style>
		.left-div {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			border-bottom: 2px solid #ccc;
			width: 100%;
			min-width: 800px;
		}
		.right-section-options {
			margin-top: 20px;
		}
		.left {
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			width: 150px;
			font-weight: bold;
			height: 100px;
			/*border: 1px solid #ccc;*/
		}
		.right-section-right {
			margin-top: 10px;
			margin-left: 5px;
			padding-bottom: 3px;
			padding-left: 10px;
			padding-top: 10px;
			margin-right: 20px;
			width: 230px;
			border-left: 4px solid teal;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			/*border-radius: 5px;*/
			/*border-top-left-radius: 5px;*/
			/*border-top-right-radius: 5px;*/
			/*background-color: rgba(0,89,138,.12);*/
			background: linear-gradient(to right, lightblue, rgba(0,89,138,.12), white, white);
		}
		.right-section-right-header {
			margin-top: 15px;
			margin-left: 5px;
			padding-bottom: 3px;
			padding-left: 10px;
			padding-top: 10px;
			margin-right: 20px;
			min-width: 330px;
			background-color: white;
			/*border-left: 1px solid #F9F4F4;
			border-right: 1px solid #F9F4F4;*/
			border-top: 6px solid teal;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		}
		.right-section-right-header div {
			font-size: 16px;
		}
		.cotacao {

		}
		.option {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #ccc;
			font-size: 12px;

			padding-right: 10px;
		}
		.var-diaria {
			/*margin-top: 10px;*/
		}
		.middle-option {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.middle-option-1 {
			/*margin-top: 10px;*/
			margin-bottom: 10px;
		}
		.option-title {
			/*font-size: 14px;*/
			/*font-weight: bold;*/
			/*background-color: #E4902D;*/
		}
		.option-value {
			/*color: lightblue;*/
		}
		.var-6meses {
			margin-bottom: 10px !important;
		}
		.valor-actual {
			margin-top: 10px !important;
		}
		.indicatores-de-valution {
			padding-bottom: 14px;
		}
		.second-row {
			height: 200px;
		}
		.action-logo {
			width: 20px;
			height: 20px;
		}
		.left-row {

		}
		.companies {
			
		}
		.left-div > .left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.left-div > .left span {
			font-size: 11px;
			opacity: 0.7;
		}
		.first-row-acoes {
			/*display: flex;
			justify-content: center;
			align-items: center;*/
			border-top: 2px solid #ccc;
			padding-bottom: 10px;
		}
		.span-text {
			/*font-size: 12px;*/
		}
		.bg-red {
			color: red;
			font-weight: bold;
		}
		.bg-green {
			font-weight: bold;
			color: green;
		}
		.bg-black {
			font-weight: bold;
			color: black;
		}
		.indicadores-title {
			opacity: 0.6;
			font-size: 14px;
		}
		.company-description {
			width: 100%;
			padding: 0px;
			margin: 0px;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		.valor-actual-value-with-currency-company {
			color: black;
			font-weight: bold;
		}
		.left-div-company-detail {

		}
	</style>
{% endblock %}

{% block section %}
	<div class="investiments-analysis">
		<div class="left-section">
			<h3>Analise de Investimentos (Accoes)</h3>
			<div class="companies">
				{% for div_ in titles %}
					<a href="{% url 'client:only_page' div_ %}" class="{{ div_|replace_value2 }} accoes-div">
						<span class="span-text action-name">
							{% if div_ == "Hidroelectrica de Cahora Bassa" %}
								HCB
							{% else %}
								{{ div_ }}
							{% endif %}
						</span>
						<img class="action-logo" src="{% static "cdm.jpg" %}">
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="right-section">
			<div class="company-description">
				<div class="right-section-right-header left-div-company-detail">
					<div class="option var-diaria middle-option">
						<span class="span-text option-title">Empresa:</span>
						<span class="span-text option-value valor-actual-value-with-currency-company">{{ page }}</span>
					</div>
					<div class="option var-diaria middle-option">
						<span class="span-text option-title">Sector de actuacao:</span>
						<span class="span-text option-value valor-actual-value-with-currency-company">{{ cotacao.nome_da_empresa.sector_de_actuacao|replace_value3 }}</span>
					</div>
					<div class="option var-diaria middle-option">
						<span class="span-text option-title">Codigo ISIN:</span>
						<span class="span-text option-value format-cotacao-value-with-percent valor-actual-value-with-currency-company">{{ cotacao.Variacao_Mensal }}</span>
					</div>
					<div class="option var-diaria middle-option">
						<span class="span-text option-title">Valor de Mercado</span>
						<span class="span-text option-value valor-actual-value-with-currency valor-actual-value-with-currency-company">{{ serialized.Valor_Do_Mercado.value|replace_value4 }}</span>
					</div>
				</div>
				<div class="right-section-right-header">
					<div class="option var-diaria middle-option">
						<span class="span-text option-title">Valor da Firma:</span>
						<span class="span-text option-value valor-actual-value-with-currency valor-actual-value-with-currency-company">{{ serialized.EV.value|replace_value4 }}</span>
					</div>
					<div class="option var-diaria middle-option">
						<span class="span-text option-title">Numero de Acoes:</span>
						<span class="span-text option-value valor-actual-value-with-currency valor-actual-value-with-currency-company">{{ serialized.numero_medio_ponderado_de_acoes.value|replace_value4 }}</span>
					</div>
					<div class="option var-diaria middle-option">
						<span class="span-text option-title">Data do Ultimo Balaço:</span>
						<span class="span-text option-value valor-actual-value-with-currency-company">{{ serialized.ultimo_balanco }}</span>
					</div>
					<div class="option var-diaria middle-option">
						<span class="span-text option-title">Tipo:</span>
						<span class="span-text option-value format-cotacao-value-with-percent">{{ cotacao.Variacao_Diaria }}</span>
					</div>
				</div>
			</div>


			<h3 class="acction-title">Incadores de Performance ({{ page }})</h3>
			<div class="right-section-options">
				<div class="left-div cotacao first-row first-row-acoes">
					<div class="left indicadores-title" style="margin-top: 20px;">
						Cotacao
						<span>{{ today|date:"M d, Y" }}</span>
					</div>
					<div class="right-section-right left-row">
						<div class="option">
							<span class="span-text option-title valor-actual">Valor Actual</span>
							<span class="span-text option-value valor-actual-value-with-currency"> {{ cotacao.preco_da_acao }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Var. Diaria</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ cotacao.Variacao_Diaria }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Var. Semanal</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ cotacao.Variacao_Semanal }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Var. Mensal</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ cotacao.Variacao_Mensal }}</span>
						</div>
					</div>


					<div class="right-section-right">
						<div class="option var-diaria middle-option-1">
							<span class="span-text option-title">Var. 6meses</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ cotacao.Variacao_Semestral }}</span>
						</div>
						<div class="option var-diaria">
							<span class="span-text option-title">Var Med. Dia</span>
							<span class="span-text option-value {{ serialized.var_media_diaria.color }}">{{ serialized.var_media_diaria.value }}%</span>
						</div><div class="option var-diaria middle-option">
							<span class="span-text option-title">Var Med. Semanal</span>
							<span class="span-text option-value {{ serialized.var_media_semanal.color }}">{{ serialized.var_media_semanal.value }}%</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Var Med. Mensal</span>
							<span class="span-text option-value {{ serialized.var_media_mensal.color }}">{{ serialized.var_media_mensal.value }}%</span>
						</div>
					</div>


					<div class="right-section-right">
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Min 12 Meses</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.min_value.value }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Max 12 meses</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.max_value.value }}</span>
						</div>
					</div>

				</div>

				<div class="left-div indicatores-de-valution second-row left-row">
					<div class="left second-row indicadores-title">Indicadores de Valuation</div>
					<div class="right-section-right">
						<div class="option">
							<span class="span-text option-title valor-actual">Div/Ac.</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.dividendo_por_acao_ultimo_valor.value }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">P/L</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.P_L.value }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">LPA</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.LPA.value }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">P/EBITIDA</span>
							<span class="span-text option-value">P/EBITIDA</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Div. Yield</span>
							<span class="span-text option-value {{ serialized.Dividend_Yield.color }}">{{ serialized.Dividend_Yield.value }}%</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">P/EBIT</span>
							<span class="span-text option-value {{ serialized.P_EBIT.color }}">{{ serialized.P_EBIT.value }} anos</span>
						</div>
					</div>


					<div class="right-section-right">
						<div class="option">
							<span class="span-text option-title valor-actual">VPA</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.VPL_Nas_Acoes.value }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">P/Activos</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.P_ACTIVO.value }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">P/SR</span>
							<span class="span-text option-value {{ serialized.PSR.color }}">{{ serialized.PSR.value }} anos</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">EV/EBITDA</span>
							<span class="span-text option-value">EV/EBITADA</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">P/Cap. Giro</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.P_Capital_De_Giro.value }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">P/C.Circ.LiQ</span>
							<span class="span-text option-value valor-actual-value-with-currency">
								{{ serialized.P_Capital_De_Giro_Liquido.value }}
							</span>
						</div>
					</div>

					<div class="right-section-right">
						<div class="option">
							<span class="span-text option-title valor-actual">EV/EBIT</span>
							<span class="span-text option-value {{ serialized.EV_EBIT.color }}">{{ serialized.EV_EBIT.value }} anos</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">EBIT/Activos</span>
							<span class="span-text option-value {{ serialized.EBIT_ACTOVOS.color }}">{{ serialized.EBIT_ACTOVOS.value }}%</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">P/VPA</span>
							<span class="span-text option-value {{ serialized.VPL.color }}">
								MZN {{ serialized.VPL.value }}
							</span>
						</div>
					</div>


				</div>
				<div class="left-div">
					<div class="left indicadores-title">Indicadores de Rentabilidade</div>
					<div class="right-section-right left-row">
						<div class="option">
							<span class="span-text option-title valor-actual">ROE</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ serialized.ROE.value }}</span>
						</div>
						<div class="option">
							<span class="span-text option-title valor-actual">ROIC</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ serialized.Roic.value }}</span>
						</div>
					</div>
					<div class="right-section-right left-row">
						<div class="option">
							<span class="span-text option-title valor-actual">ROI</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ serialized.ROA.value }}</span>
						</div>
						<div class="option">
							<span class="span-text option-title valor-actual">Giro dos Activos</span>
							<span class="span-text option-value valor-actual-value-with-currency"> {{ serialized.Giro_dos_Activos.value }}</span>
						</div>
					</div>
				</div>
				<div class="left-div">
					<div class="left indicadores-title">Indicadores de Eficiencia e Crescimento</div>
					<div class="right-section-right left-row">
						<div class="option">
							<span class="span-text option-title valor-actual">M. Bruto</span>
							<span class="span-text option-value valor-actual-value-with-currency"> {{ cotacao.preco_da_acao }}</span>
						</div>
						<div class="option">
							<span class="span-text option-title valor-actual">M. EBIT</span>
							<span class="span-text option-value valor-actual-value-with-currency"> {{ cotacao.preco_da_acao }}</span>
						</div>
					</div>
					<div class="right-section-right left-row">
						<div class="option">
							<span class="span-text option-title valor-actual">M. EBITIDA</span>
							<span class="span-text option-value valor-actual-value-with-currency"> {{ cotacao.preco_da_acao }}</span>
						</div>
						<div class="option">
							<span class="span-text option-title valor-actual">M. Líquida</span>
							<span class="span-text option-value valor-actual-value-with-currency"> {{ cotacao.preco_da_acao }}</span>
						</div>
					</div>
					<div class="right-section-right left-row">
						<div class="option">
							<span class="span-text option-title valor-actual">CAGR Lucro 5-anos</span>
							<span class="span-text option-value valor-actual-value-with-currency"> {{ cotacao.preco_da_acao }}</span>
						</div>
						<div class="option">
							<span class="span-text option-title valor-actual">CAGR Receita 5-anos</span>
							<span class="span-text option-value valor-actual-value-with-currency"> {{ cotacao.preco_da_acao }}</span>
						</div>
					</div>
				</div>
				<div class="left-div cotacao first-row first-row-acoes">
					<div class="left indicadores-title" style="margin-top: 20px;">
						Indicadores de Endividamento
					</div>
					<div class="right-section-right left-row">
						<div class="option">
							<span class="span-text option-title valor-actual">Div. Liq/PL</span>
							<span class="span-text option-value valor-actual-value-with-currency"> {{ cotacao.preco_da_acao }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Liq. Seca</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ cotacao.Variacao_Diaria }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Li. Corrente</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ cotacao.Variacao_Semanal }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Liq. Geral</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ cotacao.Variacao_Mensal }}</span>
						</div>
					</div>


					<div class="right-section-right">
						<div class="option var-diaria middle-option-1">
							<span class="span-text option-title">Div. Liq./Activos</span>
							<span class="span-text option-value format-cotacao-value-with-percent">{{ cotacao.Variacao_Semestral }}</span>
						</div>
						<div class="option var-diaria">
							<span class="span-text option-title">Div. Liq./EBIT</span>
							<span class="span-text option-value {{ serialized.var_media_diaria.color }}">{{ serialized.var_media_diaria.value }}%</span>
						</div><div class="option var-diaria middle-option">
							<span class="span-text option-title">Div. Liq./EBITIDA</span>
							<span class="span-text option-value {{ serialized.var_media_semanal.color }}">{{ serialized.var_media_semanal.value }}%</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Div. Liq./L.L</span>
							<span class="span-text option-value {{ serialized.var_media_mensal.color }}">{{ serialized.var_media_mensal.value }}%</span>
						</div>
					</div>


					<div class="right-section-right">
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Passivo/Activo</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.min_value.value }}</span>
						</div>
						<div class="option var-diaria middle-option">
							<span class="span-text option-title">Div. Bruta/L.L</span>
							<span class="span-text option-value valor-actual-value-with-currency">{{ serialized.max_value.value }}</span>
						</div>
					</div>
				</div>
				<div class="left-div cotacao first-row first-row-acoes">
					<div class="left indicadores-title" style="margin-top: 20px;">
						Indicadores de Governança
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script>
		let valor_actual_value = document.querySelectorAll('.valor-actual-value-with-currency');
		for (let tag of valor_actual_value) {
			setColorForTag2(tag);
		}

		loadCompanyClasses();
		function loadCompanyClasses() {
			fetch('/get_compay_names_and_ids/')
				.then(res => res.json())
				.then(data => {
					let companies = data.companies;
					for (let company of companies) {
						let tag = document.querySelector(`.${company}`);
						if (tag.href === window.location.href) {
							tag.classList.remove('add-gradient-to-accoes-div');
							tag.classList.add('highlighted-accoes-div');
						} else {
							tag.classList.add('add-gradient-to-accoes-div');
							tag.classList.remove('highlighted-accoes-div');
						}
					}
				})
				.catch(err => console.error(err));
		}

		function setColorForTag2(tag) {
			let value = parseFloat(tag.textContent);
			if (value == 0) {
				tag.classList.add('bg-black');
			} else if (value > 0) {
				tag.classList.add('bg-green');
			} else {
				tag.classList.add('bg-red');
			}
			tag.innerHTML = 'MZN ' + tag.innerHTML;
		}

		function setColorForTag(tag) {
			let value = parseFloat(tag.textContent);
			if (value == 0) {
				tag.classList.add('bg-black');
			} else if (value > 0) {
				tag.classList.add('bg-green');
			} else {
				tag.classList.add('bg-red');
			}
			tag.innerHTML += '%';
		}

		let format_cotacao_values = document.querySelectorAll('.format-cotacao-value-with-percent');
		for (let tag of format_cotacao_values) {
			setColorForTag(tag);
		}
	</script>
{% endblock %}